<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" integrity="sha512-+AdxWMqfOdtwMuXK482e5OgHYzN06s97n3NTAeAdTlUvlIgCBx3SUKvMculJIedylDfVCaQFdD6HaojI4aeBUA==" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <title>theEntrepreneurshipBlog</title>
    <style>
     #brandLogo{
         padding: 0px;
         margin: 0px;
     }
     .nav{
      padding-top: 10px;
      padding-bottom: 0px;
      background: inherit;
      margin: 0px;
     }
     #navbarBrandText{
      font-family: 'Monoton', cursive;
      color: black;
      font-size: 1.75rem;
      letter-spacing: 0.25rem;
     }
     .nav-link{
      font-size: 1rem;
      float: right;
      color: 
     }
     .dropdown-item{
      font-size: 0.85rem;
     
     }
     #jumbotron{
      /*background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);*/
     background: transparent;
     height: 500px;
     }
     .vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
#jumbotronButton:hover{
  background-color: black;
  color: white;
}
.navbar{
  background-color: black;
  padding: 0px;
}
.dropdown-item{
      font-size: 0.5rem;
     color: white;
     }
.dropdown-menu{
      background: transparent;
}
.dropdown-item:hover{
      background: transparent;
      color: #a6a6a6;
}
.nav-link:hover{
   color: #a6a6a6;
}
.card-img-top{
  height: 600px;
  width: 100%;
}
#readme{
  float: right;
}
.cardFooter{
  background: transparent;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.zambian{
  padding-bottom: 0px;
  margin-top: 0px;
}
.pad0{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
i:hover{
  color: black;
}
body{
  background: linear-gradient( to bottom,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);background-size: 100% 900px;
      background-repeat: no-repeat;
   background-color: black;
   margin-bottom: 0px;
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/problems">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/problems/createNew">Link</a>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- <div class="jumbotron jumbotron-fluid vertical-center " id="jumbotron">

      <div class="container  text-center">
        <h6 class="display-3 text-light" style=";padding-bottom: 20px;font-family: 'Monoton', cursive;letter-spacing: 1rem;"><img src="/images/logo.png"> Blogger M-App</h6>
        <p class="lead text-light" style="font-size: 1.3rem;">A platform where you can type to inspire the people all over the world !</p>
        <br>
        <p class="display-3 text-light"><u>HOME</u></p>
      </div>
    </div>
      <nav class="navbar justify-content-center fixed-top mb-5">
        <ul class="nav ">
      <li class="nav-item">
       <a class="nav-link" href="/problems"><i class="arrow alternate circle left icon" style="font-size: 2rem;color: white;"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="user circle icon" style="font-size: 2rem;color: steelblue;"></i></a>
      </li>
      <li class="nav-item">
         <a class="nav-link " href="mailto:shauryasarswatpersonalAC@gmail.com"><i class="envelope icon" style="font-size: 2rem;color: red;"></i></a>
      </li>
      <li class="nav-item">
       <a class="nav-link " href="/book"><i class="book icon" style="font-size: 2rem;color: green;"></i></a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link nav-pills active" href="/problems/createNew"><i class="pen square icon"style="font-size: 2rem;color: yellow;"></i></a>
      </li>
    </ul></nav> -->