<%- include("partials/header3") %>
<div class="container">
    <div class="text-center">
        <h1 class="display-4 m-5 ">
            MEET THE TEAM
        </h1>
    </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/team1.png" class="img-fluid rounded-start" id="teams" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">SHAURYA SARSWAT</h5>
              <p class="card-text">Roll No. :  2000820100131</p>
              <p class="card-text">Branch :  B. Tech. Computer Science And Engineering</p>
              <p class="card-text">College : 082-Moradabad Institute Of Technology, Moradabad</p>
              <p class="card-text">Covid is a painful situation in many ways, though in these times of the physical disablitites we are Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque architecto optio nobis quasi, consequatur odio recusandae nam modi doloribus officia expedita est. Saepe ipsam numquam quasi quae voluptate consequuntur in!</p>
              <p class="card-text"><small class="text-muted"><a href="mailto:ShauryasarswatpersonalAC@gmail.com" id="teamlink">ShauryasarswatpersonalAC@gmail.com</a></small></p>
              <button class="btn-dark rounded">
                  HTML 5
              </button>
              <button class="btn-dark rounded">
                CSS 3
            </button>
            <button class="btn-dark rounded">
                JS
            </button>
            <button class="btn-dark rounded">
               NODE JS
            </button>
            <button class="btn-dark rounded">
               EXPRESS JS
            </button>
            <button class="btn-dark rounded">
                REACT JS
            </button>
            <button class="btn-dark rounded">
                Mongo DB
            </button>
            <ul class="nav">
                
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/team1.png" class="img-fluid rounded-start" id="teams" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">SIDRA TUL MUNTHA</h5>
              <p class="card-text">Roll No. :  2000820100134</p>
              <p class="card-text">Branch :  B. Tech. Computer Science And Engineering</p>
              <p class="card-text">College : 082-Moradabad Institute Of Technology, Moradabad</p>
              <p class="card-text">Covid is a painful situation in many ways, though in these times of the physical disablitites we are Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque architecto optio nobis quasi, consequatur odio recusandae nam modi doloribus officia expedita est. Saepe ipsam numquam quasi quae voluptate consequuntur in!</p>
              <p class="card-text"><small class="text-muted"><a href="mailto:Sidratulmuntha.kaif@gmail.com" id="teamlink">Sidratulmuntha.kaif@gmail.com</a></small></p>
              <button class="btn-dark rounded">
                  HTML 5
              </button>
              <button class="btn-dark rounded">
                CSS 3
            </button>
            <button class="btn-dark rounded">
                JS
            </button>
            <button class="btn-dark rounded">
               SEO
            </button>
            <ul class="nav">
                
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="text-center">
  <div class="display-4">
    PROJECT ABSTRACT
  </div>
  <iframe src="/images/covidvitalsabstract.pdf" class="container disabled mt-2 mb-5" id="pdfframe">
  </iframe>
</div>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
  </div>
  <!-- Copyright -->
</footer>
<script src="https://kit.fontawesome.com/c3670917e6.js" crossorigin="anonymous"></script>
<%- include("partials/footer1") %>
