<%- include("partials/header") %>
<div class="text-center text-light mt-5 container rounded-lg" style="background-color: aliceblue;">
    <h1 class="display-1" style="font-family: 'Raleway', sans-serif;color: black;text-decoration: underline;">ABOUT US</h1>
    <p class="text-light">
        
    </p>
</div>
<%- include("partials/footer2") %>
