<%- include("partials/header0") %>
<!-- <div class="jumbotron jumbotron-fluid vertical-center" id="jumbotron">
  <div class="container  text-center">
    <h6 class="display-3 text-light" style="padding-bottom: 20px;">Introducing the new Blogger M-App</h6>
    <p class="lead text-light" style="font-size: 1.3rem;">A platform where you can type to inspire the people all over the world !</p>
    <br>
    <a href="/problems"><button class="btn btn-lg btn-light" id="jumbotronButton">Blog Now</button></a>
  </div>
</div> -->
<video autoplay muted loop id="myVideo">
  <source src="/images/vedio.mp4" type="video/mp4">
</video>

<div class="container-fluid h-100 content">
  <div class="d-flex justify-content-md-center align-items-center vh-100">
    <div class="jumbotron jumbotron-fluid vertical-center" id="jumbotron">
      <div class="container text-center text-light">
       content
  </div>     
 </div> 
<!-- <div class="text-center text-light">BloggerM-App@2020Copywright</div> -->
<%- include("partials/footer0") %>