<%- include ("partials/header") %>
<div class="container" style="margin-top: 40px;">
 <form action="/problems" method="POST" class="text-center text-light" style="width: 30%; margin: auto;">
 <h1 style="font-weight: 300;margin-boto:10px; font-size: 2rem">Create New Blog Post</h1>
    <input class="form-control mt-3 mb-3" type="text" name="problem" placeholder="problem">
    <input class="form-control mt-3 mb-3" type="text" name="location" placeholder="location">
    <textarea class="form-control" aria-label="With textarea" placeholder="Description" name="Description" style="height:100px;"></textarea>
    <input class="form-control mt-3 mb-3" type="text" name="contact" placeholder="contact">
    <input class="form-control mt-3 mb-3" type="text" name="bloodGroup" placeholder="bloodGroup">
    <input class="form-control mt-3 mb-3" type="text" name="name" placeholder="name">
    <input class="form-control mt-3 mb-3" type="text" name="age" placeholder="age">
    <input class="form-control mt-3 mb-3" type="text" name="hospital" placeholder="hospital">
    <input class="form-control mt-3 mb-3" type="text" name="admittedStatus" placeholder="admittedStatus">

    <input type="date" placeholder="date" name="date" style="width: 100% ;padding:5px;margin-bottom:10px;color: gray">
  <textarea class="form-control" aria-label="With textarea" placeholder="Problem Statemet" name="content" style="height:100px;"></textarea>
     <button class="btn btn-primary mt-3" style="width: 100%">Create Post</button>
     <br>
       
 </form>

</div>
<%- include("partials/footer2") %>