<%- include ("partials/header2") %>
<div class="container" style="margin-top: 40px;">
    <form action="/vaccines" method="POST" class="text-center text-light" style="width: 90%; margin: auto;">
    <h1 class="display-4 text-dark">Add your experience with the Vaccine</h1>
       <input class="form-control mt-1 mb-1" type="text" name="vaccine" placeholder="Name">
       <input class="form-control mt-1 mb-1" type="text" name="age" placeholder="age">
       <textarea class="form-control" aria-label="With textarea" placeholder="Your Experience with the vaccine comes here" name="experience" style="height:500px;"></textarea>
     <button class="btn btn-primary mt-3 mb-3" style="width: 100%">Create Post</button>
    </form>

</div>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
   <!-- Grid container -->
   <div class="container pt-4">
     <!-- Section: Social media -->
     <section class="mb-4">
       <!-- Facebook -->
       <a
         class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="#!"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-facebook-f"></i
       ></a>
 
       <!-- Twitter -->
       <a
         class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="#!"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-twitter"></i
       ></a>
 
       <!-- Google -->
       <a
         class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="#!"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-google"></i
       ></a>
 
       <!-- Instagram -->
       <a
         class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="#!"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-instagram"></i
       ></a>
 
       <!-- Linkedin -->
       <a
         class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="#!"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-linkedin"></i
       ></a>
       <!-- Github -->
       <a
         class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="#!"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-github"></i
       ></a>
     </section>
     <!-- Section: Social media -->
   </div>
   <!-- Grid container -->
 
   <!-- Copyright -->
   <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     
   </div>
   <!-- Copyright -->
 </footer>
 <script src="https://kit.fontawesome.com/c3670917e6.js" crossorigin="anonymous"></script>
<%- include("partials/footer0") %>